@import "../App.css";

.authentication-page input {
    margin:5px 0;
    background-image: url('../resources/BORD_ROUGE.png');
    background-size: 100% 100%;
    height: 40px;
    width: 200px;
    border:none;
    font-family: Roboto;
}

.authentication-page button {
    margin: 20px 0;
}

.authentication-page p {
    margin: 20px 0;
}

.authentication-title{
    margin: auto auto;
}

.authentication-title img{
    width: auto;
    height: 200px;
    background-size: cover;
}