.game-component {
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
}

.game-upper-container {
    padding:2rem 2rem;
}

.game-words-container {
    margin: 1rem auto;
    padding:2rem 2rem;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    height: 95%;
    width: 95%;
    background-color: white;
    border-radius: 20px;
}

.word-component {
    width : 20%;
    height : 20%;
    display : flex;
}