.game-description-component {
    width: 90%;
    max-width : 800px;
    margin : 2rem auto;
    border: 1px solid black;
    border-radius: 25px;
    display:flex;
}

.blue-game-description-component {
    background-color: var(--light-blue);
}

.red-game-description-component {
    background-color: var(--light-red);
}

.game-description-central-component {
    width : 50%;
    border-radius: 25px;
}

.players-list-component {
    margin : 1rem auto;
    width:25%;
    font-size: 0.75em;
}

.leader-player {
    font-weight: bolder;
}

.author-player {
    text-decoration: underline;
}

.blue-players-list-component {
    color: var(--dark-blue)
}

.red-players-list-component {
    color: var(--dark-red)
}