.game-description-component {
    width : 50%;
    margin : 2rem auto;
}

.game-description-players {
    display: flex;
    font-family: Arial;
    font-size: 0.75em;
}

.game-description-player-blue {
    color: blue;
}

.game-description-player-red {
    color: red;
}