.game-component {
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
}

.game-upper-container {
    height: 150px;
    padding:2rem 0;
    display:flex;
    justify-content: space-between;
    box-sizing: content-box;
    line-height: 2rem;
}

.game-upper-left {
    width: 5%;
    height:200px;
}

.game-upper-right {
    width: 5%;
    height:200px;
}

.game-upper-title {
    width: 20%;
    vertical-align: center;
}

.game-upper-title h1{
    font-size: 4vw;
    line-height: 5rem;
    color: #2B76FF
}

.game-upper-playing {
    width: 25%;
    margin: auto auto;
    padding-top: 1.5rem;
    /*padding-bottom: 1.5rem;*/
    /*background: white;*/
    /*border-radius: 50px;*/
}

.game-upper-buttons {
    margin: auto auto;
    display: flex;
    justify-content: space-evenly;
    padding-top: 1rem;
}

.game-upper-players {
    width: 25%;
    margin: auto auto;
    /*padding-top: 1.5rem;*/
    /*padding-bottom: 1.5rem;*/
    /*background: white;*/
    /*border-radius: 50px;*/
}


.game-words-container {
    margin: 1rem auto;
    padding:2rem 2rem;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    height: 100%;
    width: 95%;
    background-color: white;
    border-radius: 20px;
}

.game-lower-container {
    height: 50px;
}

.word-component {
    width : 20%;
    height : 20%;
    display : flex;
}