.game-component {
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    box-sizing: content-box;
}

.game-upper-container {
    height: 250px;
    padding:10px 0;
    display:flex;
    justify-content: space-between;
    line-height: 50px;
}

.game-upper-left {
    width: 5%;
    height:250px;
}

.game-upper-right {
    width: 5%;
    height:250px;
}

.game-upper-title {
    width: 20%;
    vertical-align: center;
}

.game-upper-title{
    margin: auto auto;
}

.game-upper-title img{
    width: 20vw;
    height: auto;
    max-width: 450px;
    background-size: cover;
}

.game-upper-playing {
    width: 25%;
    margin: auto auto;
    padding-top: 10px;
    font-size: 1.5vw;
}

.game-upper-buttons {
    margin: auto auto;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}

.game-upper-players {
    width: 25%;
    margin: auto auto;
}


.game-words-container {
    margin: 2vh auto;
    padding: 2vh 1vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100%;
    width: 95%;
    background-color: white;
    border-radius: 20px;
}

.game-lower-container {
    height: 50px;
}

.word-component {
    width : 20%;
    height : 20%;
    display : flex;
}