.players-component {
    width: 90%;
    margin : auto auto;
}

.players-list-component {
    display: flex;
    justify-content: space-evenly;
}

.players-button-component {
    display: flex;
    justify-content: space-evenly;
}

.players-list {
    width:25%;
    font-size: 1vw;
    padding: 10px 0;
}

.blue-players-list {
    color: #97DABD;
}

.red-players-list {
    color: #FF644F;
}

.leader-player {
    text-decoration: underline;
}