.filled-rules-component {
    width: 400px;
    margin : 2rem 2rem;
    text-align : left;
    overflow-y: scroll;
}

.empty-rules-component {
    width: 1rem;
    margin : 2rem 2rem;
}

.filled-rules-component p, .empty-rules-component p {
    text-align: justify;
    font-size: 13px;
    font-family: 'Roboto';
}