@import "../App.css";

.rules-component {
    width: 20vw;
    height: 100%;
    padding: 2rem 2rem;
    overflow-y: scroll;
}

.rules-inner-component {
    width: 100%;
    margin: auto auto;
}

.rules-component p {
    text-align: justify;
    font-size: 13px;
    font-family: 'Roboto';
}