@import "../App.css";

.rules-component {
    width: 400px;
    height: 100%;
    margin : 2rem 2rem;
    overflow-y: scroll;
    /*scrollbar-width: none; !* Firefox *!*/
    /*-ms-overflow-style: none;  !* Internet Explorer 10+ *!*/
}
/*.rules-component::-webkit-scrollbar { !* WebKit *!*/
/*    width: 0;*/
/*    height: 0;*/
/*}*/

.rules-component p {
    text-align: justify;
    font-size: 13px;
    font-family: 'Roboto';
}