.word-component {
    width : 19%;
    height : 100px;
    border-radius: 10px;
    margin : 0.25%;
    display : flex;
    border: 1px solid grey;
}

.active-word-component:hover {
    cursor:pointer;
}

.word-component p {
    margin: auto;
    user-select: none;
}

.unveiled-word-component p{
    opacity: 0.2;
}

.selected-word-component {
    font-weight: bold;
}

.blue-word-component {
    color: var(--dark-blue);
}

.red-word-component {
    color:var(--dark-red);;
}

.unassigned-word-component {
    color: var(--dark-unassigned);
}

.forbidden-word-component {
    color: var(--dark-forbidden);
}

.unveiled-blue-word-component{
    background-color: var(--light-blue);
}

.unveiled-red-word-component{
    background-color:var(--light-red);;
}

.unveiled-unassigned-word-component{
    background-color: var(--light-unassigned);
}

.unveiled-forbidden-word-component{
    background-color: var(--light-forbidden);
}