@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  font-family: 'Roboto';
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  --dark-blue: #0054d1;
  --light-blue: #5e9cff;
  --dark-red: #c40000;
  --light-red: #ff887d;
  --dark-unassigned: #a1a100;
  --light-unassigned: #fff27d;
  --dark-forbidden: #1a1a1a;
  --light-forbidden: #999999;
}

